---
layout: default
---
<div class="container-content-text" >
<div class="posts">
  <div style="min-height: 80vh;">
  {% for post in paginator.posts %}
    {% if post.published == true %}
    <a href="{{ post.url }}">
  <div class="post post-grid shape-panel hvr-bob hvr-underline-reveal hvr-glow hoverdiv" >
      
          
              <div style="background-image: url({{post.background}}); background-size: contain;  height:170px;"> </div>
              
              <div id ="sub-hover">
                  <center><fieldset class="cat">
                        <legend ><b>&nbsp;{{post.type}}&nbsp;</b></legend>
                  </fieldset></center>
                  
    <h5 class="post-title" style="opacity:1.0; font-weight: bold;">
      
        {{ post.title }}
      
    </h5>
    <span class="post-date"> <i class="fa fa-clock-o" aria-hidden="true" style="padding-right:3px;"></i>{{ post.date | date_to_string }}<br> {{ post.excerpt }}</span></div>
      
  </div>
    </a>
     {% endif %}
  {% endfor %}

</div>
<!--


 border-left-color: #161b2d; border-left-style: solid; border-left-width: 0.1px; border-right-color: #161b2d; border-right-style: solid; border-right-width: 0.1px;



 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
    
    {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
    </div>
    
