---
layout: default
---
<div class="container-content-text" >
<div class="posts">
  
  {% for post in paginator.posts %}
    {% if post.type == 'blog' %}
    <a href="{{ post.url }}">
  <div class="post post-grid post-book" style="background-image: url({{post.background}});   text-align:center; background-size: contain; ">
      <div class="transparent-box">
          <div class="transparent-box-text">
    <h3 class="post-title" style="opacity:1.0; font-weight: bold;">
      
        {{ post.title }}
      
    </h3>
    <span class="post-date">{{ post.date | date_to_string }}<br> {{ post.excerpt }}</span>
          </div></div>
  </div>
    </a>
     {% endif %}
  {% endfor %}


<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
    </div>
    
